<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    
    <!-- Plugin CSS -->
    <%= stylesheet_link_tag "application" ,'data-turbolinks-track' => true%>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .map-base {
        height: 300px;
        margin-bottom: 20px;
      }
    </style>    
  </head>

  <body id="page-top">
    <%= yield %>
    <a href="map.html" rel="external" data-ajax="false" >
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGMbZeZWNNv_6sBC-8O0WWYX4MOxRkwP8&callback=initMap"
    async defer></script>

  </body>
</html>