<html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <%= stylesheet_link_tag "bootstrap" ,'data-turbolinks-track' => true%>
  <%= javascript_include_tag "jquery" ,'data-turbolinks-track' => true%>
  <style type="text/css">
    body{
        background: url(http://mymaplist.com/img/parallax/back.png);
      background-color: #444;
        background: url(http://s3-us-west-2.amazonaws.com/i.cdpn.io/92643.mzyAs.9c90ef0e-38a1-4ac6-8f55-6b87ee9755da.png),url(http://center.wetrustgps.com/images/pinlayer1.png),url(http://center.wetrustgps.com/images/back.png);    
    }

    .vertical-offset-100{
        padding-top:100px;
    }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $(document).mousemove(function(e){
           TweenLite.to($('body'), 
              .5, 
              { css: 
                  {
                      backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
                  }
              });
        });
      });
    </script>
  <title></title>
</head>
  <body>
    <%= yield %>
  </body>
</html>
