    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">Personeller</h3>
                <% if user_signed_in? %>
                  <%= link_to new_user_path, class: "create-button" do%>
                      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Yeni Personel Oluştur">+</button>
                  <%end%>
                <% end %>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                  <% @users.each do |user| %>
                    <li class="list-group-item panel-success">
                      <div class="row">
                        <div class="col-xs-2 col-md-1">
                          <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                        </div>
                        <div class="col-xs-10 col-md-11">
                          <div>
                            <%= link_to user.full_name, user%>
                            </div>
                          </div>
                          <div class="pt-action pull-right">
                              <% if current_user.has_role?(:admin) %>
                                <%= link_to "Düzenle", edit_user_path(user), class: "btn btn-info btn-sm" %> 
                                <%= link_to "Sil", user_path(user), class: "btn btn-danger btn-sm"%>
                              <% end %>
                          </div>
                    
                  <% end %>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
            </div>
        </div>
    </div>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>